<a href="https://colab.research.google.com/github/Reis25/ProjetoTecnico/blob/main/python_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Introduction 

In this tutotial let's code in python for beginners.

Python Roadmap: 

Tools:
* Vscode 
* PyCharm
* Jupyter Notebook

Basic: 

* Data types
* Typecasting
* Operators
* Data strutures 
* Conditional statements
* Loops
* Functions 

OOP:
* Classes
* Objects
* Lambda
* Inheritance
* Reflextion
* OOPS

Python + Git 
* Git version control 
* Linux Comans
* File and Exception Handling

In [ ]:
# This code show text in output: 
print("Hello World")

Hello Wolrd

In [ ]:
# This is a comment;

''' 
Fazendo comentários 
em múltiplas linhas
'''

In [ ]:
# Maths operators 
num1 = 5 
num2 = 10 

sum = num1 + num2
subt = num1 - num2
mult = num1*num2

In [ ]:
# show de output math opeators: 
print(sum)
print(subt)
print(mult)

Function in python:

In [ ]:
#Fuction with return:

def divide(a, b): 
  if b!= 0: 
    return a/b
  else:
    return "this operation it's not possible."

In [ ]:
# function call
divide(35,7)

14

In [ ]:
# function call
divide(35,0)

In [ ]:
v = [25, 35, 24, 13, 46, 78,80, 96]

In [ ]:
max(v)

In [ ]:
min(v)

In [ ]:
sort(v)

In [ ]:
# repetition structure 
for i in range(0,10): 
  print()

In [ ]:
cars = ["palio", "corsa", "Mustang", "Argo", "S-10"]

for idx, i in enumerate(cars):
  print(idx)
  print(i)

In [ ]:
numero = 4
#placeholder with pass
if(numero == 5):
  pass
else: 
  print("O numero é diferente de 5!")

O numero é diferente de 5!

In [ ]:
numero = 4
#placeholder with elipse 
if(numero == 5):
  ...
else: 
  print("O numero é diferente de 5!")

O numero é diferente de 5!

In [ ]:
# Tuple: 

t1 = (1,2,5,7,8,9)

l1 = [1,2,5,7,8,9]

for i in range(0, len(l1)): 
  l1[i] = l1[i]*5

print(t1 + t1)

(1, 2, 5, 7, 8, 9, 1, 2, 5, 7, 8, 9)

In [ ]:
num1 = input("name: ")
num2 = input()

sum = num1 + " " + num2

print("Seu nome é: " ,sum)

In [ ]:
# Listas

# Criando uma lista vazia: 
lista =[]
print("Criando uma lista vazia: ", lista)

# Criando uma lista com valores: 
lista = [88, 99, 100, 101, 52, 47, 63, 21]
print("Lista criada com valores: ", lista)

# Substituindo um valor na nossa lista: 
lista[1] = 5
print("Substituindo valor na lista:", lista)

# Acessando um valor da lista: 
print("Acesando o quarto valor da nossa lista: ",lista[3])

# Acessando o último valor de uma lista:
print("O último valor é: ", lista[-1])

# Selecionando um intervalo da nossa lista: 
print("Extraindo itervalo: ", lista[1:4])

# Usando valores com índice negativo: 
print("O valor é: ", lista[-3])

# Removendo um valor da nossa lista: 
del lista[5]
print("lista com valor removido: ", lista)

# Adicionando um valor no final da lista: 
lista.append(101)
print("Adicionando numero no final da lista: ", lista)

# Adiconar na posição z um valor x => lista.insert(z, x)
lista.insert(0,1500)
print("Adiconar na posição z um valor x: ", lista)

# Removendo o primeiro elemento de um dado numero: 
lista.remove(101)
print("Removendo um dado específico: ", lista)

# Ordenando os valores dessa lista: 
lista.sort()
print("Lista ordenada crescente: ", lista)

# Ordenar a lista de forma reversa: 
lista.reverse()
print("Lista ordenada decrescente: ", lista)

# copiando uma lista: 
lista_2 = lista.copy()
print("Lista copiada: ", lista_2)

#Removendo um elemento e recebendo o lemento removido: 
result = lista.pop(0)
print("Qual foi o elemento removido? ", result)
print(lista)

# Limpando uma lista
lista.clear()
print("Lista final é:", lista)

Criando uma lista vazia:  []
Lista criada com valores:  [88, 99, 100, 101, 52, 47, 63, 21]
Substituindo valor na lista: [88, 5, 100, 101, 52, 47, 63, 21]
Acesando o quarto valor da nossa lista:  101
O último valor é:  21
Extraindo itervalo:  [5, 100, 101]
O valor é:  47
lista com valor removido:  [88, 5, 100, 101, 52, 63, 21]
Adicionando numero no final da lista:  [88, 5, 100, 101, 52, 63, 21, 101]
Adiconar na posição z um valor x:  [1500, 88, 5, 100, 101, 52, 63, 21, 101]
Removendo um dado específico:  [1500, 88, 5, 100, 52, 63, 21, 101]
Lista ordenada crescente:  [5, 21, 52, 63, 88, 100, 101, 1500]
Lista ordenada decrescente:  [1500, 101, 100, 88, 63, 52, 21, 5]
Lista copiada:  [1500, 101, 100, 88, 63, 52, 21, 5]
Qual foi o elemento removido?  1500
[101, 100, 88, 63, 52, 21, 5]
Lista final é: []